DB_PASSWORD=postgres123
DB_NAME=software
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres  

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=tokensecreto123


CLOUD_NAME_CLOUDINARY=
API_KEY_CLOUDINARY=
API_SECRET_CLOUDINARY=
FOLDER_CLOUDINARY=
CLOUDINARY_PRESET=
